{% extends "afcp/research/research.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}AFCP Research presentation{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>AFCP Research</h1>
	
	
	<object style="width:670px; height: 510px" data="/static/doc/research/presentation.pdf" type="text/html" codetype="application/pdf"></object>
	<p><a href="/static/doc/training/ppt.pdf" title="Right-click &gt; &quot;Save as&quot; to download it">Link to the PDF</a></p>
	

</div>

{% endblock %}{# sidebar_and_content #}




