{% extends "afcp/research/research.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}AFCP PPT+EXCEL training 简洁就是美{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>AFCP PPT+EXCEL training 简洁就是美</h1>
	
	<h2>Presentation</h2>
	
	<p>
	Time: <strong>14h00-16h30, 21/09/2013 (Sat.)</strong><br/>
	Address: <strong>Agro ParisTech</strong>, 16 Rue Claude Bernard, 75005 PARIS<br/>
	Speaker: <strong><a href="/static/doc/training/CV_He_LIAN.pdf" target="_blank">He Lian 廉和</a></strong> (from Oliver Wyman), <strong><a href="/static/doc/training/CV_Ugo.pdf" target="_blank">Ugo Philippart</a></strong> (from Accenture)
	</p>
	
	<p>
	Please bring your laptop (MS PPT/EXCEL 2010, Windows version preferred)
	</p>
	
	<p><img alt="photo X 1" src="/static/doc/training/training.png" width="670px" height="479px"/></p>
	
	<h2>Training tools</h2>
	
	<p><a target="_blank" href="/static/doc/training/ppt.pdf" title="Right-click &gt; &quot;Save as&quot; to download it">PowerPoint: how to design &amp; write slides efficiently</a>:</p>
	<object style="width:670px; height: 510px" data="/static/doc/training/ppt.pdf" type="text/html" codetype="application/pdf"></object>
	
	<p><a target="_blank" href="/static/doc/training/excel.pdf" title="Right-click &gt; &quot;Save as&quot; to download it">Must knows of Excel</a>:</p>
	<object style="width:670px; height: 510px" data="/static/doc/training/excel.pdf" type="text/html" codetype="application/pdf"></object>
	

</div>

{% endblock %}{# sidebar_and_content #}




