{% extends "afcp/research/research.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}Status change from student to employee{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section program">

	<h1>Status change from student to employee</h1>
	
	<object style="width:670px; height: 510px" data="/static/doc/research/20130117Changement_de_statut.pdf" type="text/html" codetype="application/pdf"></object>
	<p><a href="/static/doc/research/20130117Changement_de_statut.pdf" title="Right click &gt; &quot;Save as&quot; to download it">Link to the PDF</a></p>
	
{#	<!-- <iframe src="/static/docs/20121001Changement_de_statu.pdf" width="670px" height="510px">Coucou</iframe> --> #}
	
</div>


{% endblock %}{# content #}


