{% extends "forum/zh-cn/static/base.html" %}
{% comment %}
<!--
  The contact page of the AFCP webapp, Chinese version (zh-cn).
  
  Created on 2008-11-20.
  $Id: contact.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>Bilan du Forum 2011</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section balance">
	<h1>Bilan du Forum 2011</h1>

	<h2>Analyse des participants (Nombre total : 300)</h2>
	<h3>1 Analyses d’expérience scolaire</h3>
	<div>
		<img src="/static/forum/bilan/balance_gr1.jpg" width="670"
			height="400" alt="Types d'établissements" />
	</div>
	<div>
		<img src="/static/forum/bilan/balance_gr2.jpg" width="670"
			height="413" alt="Origines des participants" />
	</div>
	<div>
		<img src="/static/forum/bilan/balance_gr3.jpg" width="670"
			height="468" alt="Répartition au sein de ParisTech" />
	</div>

	<h3>2 Analyses d’activité professionnelle</h3>
	<div>
		<img src="/static/forum/bilan/balance_gr4.jpg" width="670"
			height="415" alt="Expérience professionnelle" />
	</div>
	<div>
		<img src="/static/forum/bilan/balance_gr5.jpg" width="670"
			height="555" alt="Secteurs d'activité" />
	</div>

{% comment %}
<!-- La suite du bilan n'est pas publique -->
	<h2>2 Bilan de communication</h2>
	<div>
		<img src="/static/forum/bilan/balance_gr6.jpg" width="670"
			height="466" alt="Canaux de communication" />
	</div>

	<h2>3 Points forts</h2>
	<ol type="a">
		<li>D’après nos questionnaires de satisfaction des exposants,
			globalement, ils sont satisfaisant de notre organisation et le plus
			part ont prévu la participation au forum l’année prochaine.</li>
		<li>M. Claude VAJSMAN, Chargé de Mission auprès du Président et
			ancien Directeur de PSA Peugeot Citroën en Chine était présent à
			notre forum et a donné un discours à la conférence de clôture.</li>
		<li>Le visio-entretien que nous avons proposé au Saint-Gobain a
			vu un autre succès. Plus de 80 étudiants ont inscrit, et l’entreprise
			était contente. De plus, plusieurs entreprises ont exprimé leurs
			intérêts sur ce service.</li>
		<li>Notre proposition d’organiser l’atelier CV a obtenu le
			soutien de Dragonfly Group et pendant l’atelier, environ 40 étudiants
			ont bénéficié de ce service</li>
		<li>Bons designs d’affiche et brochure qui ont gagné beaucoup de
			louanges.</li>
		<li>Toute l’équipe de support et de logistique ont mis les polos
			dédiés au forum. Cela a amélioré l’image de notre association.</li>
	</ol>
	<h2>4 Points à améliorer</h2>
	<h3>4.1 Participants :</h3>
	<ol type="a">
		<li>Il y avait des entreprises qui se sont plaint qu’il n’y avait
			pas suffisamment de participants.</li>
		<li>Nous n’arrivons pas à récupérer les questionnaires de
			satisfaction des visiteurs. Et donc les avis des étudiants sont
			manquants.</li>
	</ol>
	<h3>4.2 Diversité</h3>
	<ol type="a">
		<li>Cette année, les entreprises ne sont pas très diverses, il se
			focalise trop dans le secteur production et automobile. En fait nous
			pouvons voir un grand besoin venant des étudiants dans le secteur
			commercial ou financier. Peut-être nous pouvons nous efforcer sur ce
			point.</li>
		<li>Tous les écoles de Paristech ont des élèves participent à
			notre forum. Mais ils se focalisent toujours aux écoles comme Arts et
			Métiers, Télécom ParisTech, etc.</li>
	</ol>

	<h3>4.3 Aspect communication :</h3>
	<ol type="a">
		<li>Il faut mieux diffuser les affiches dans les écoles et les
			résidences d’étudiants.</li>
		<li>Il faut mieux expliquer nos offres dans les textes de
			communication : les types d’opportunité (stage et emploi), les lieus
			des offres (en Chine et en France), les métiers d’opportunité
			(activité techniques et aussi activité commerciaux).</li>
		<li>Beaucoup d’entreprises nous envoyons les offres (des stages
			et des emplois), il faut trouver une façon plus efficace pour les
			diffuser.</li>
	</ol>

{% endcomment %}


</div>

{% endblock %}{# content #}