{% extends "afcp/amusement/amusement.html" %}
{% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_head %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/sections.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/bal.css"/>


{% block html_title %}<title>雅致·中国  Chic à la Chinoise</title>{% endblock %}

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>雅致·中国  Chic à la Chinoise</h1>

	<a target="_blank" title="报名链接 - Lien pour l’achat des billets"
		href="https://docs.google.com/forms/d/17m5Ru1dMFpJ3pXOJKCsHuZokaFbk69qi15REdXhqYeM/viewform"> <img
		alt="affiche du bal Chic à la Chinoise"
		src="{{ static_ }}/doc/bal/bal_affiche.jpg" width="670px"
		height="938px"/></a>

	<p>
		<a class="greater" href="#vfr">Version française ci-dessous - cliquez ici pour y accéder</a>
	</p>
	
	
	<h2>雅致-中国：一场解构优雅的中法青年舞会</h2>

<p>
如果你同我一样，在<span class="bold">体验异乡</span>文化的同时期冀向世界展现<span class="bold">中国式的优雅</span>；<br/>
如果你同我一样，在变化万千的世界里寻求<span class="bold">文化对话和普世价值</span>；<br/>
如果你同我一样，在秉持<span class="bold">个体独立</span>精神的同时渴望彼此的<span class="bold">拥抱与融合</span>；<br/>
如果你同我一样，在<span class="bold">自我约束</span>的日常生活外渴望一个<span class="bold">自我释放</span>的机会；<br/>
那么，4月11日晚<span class="bold">雅致中国中法青年舞会</span>，便是你的私人订制！
</p>

<p>
Session 1  <span class="bold">华尔兹</span>：对我笑吧，就像你我初次见面<br/>
Session 2  <span class="bold">rock</span>：燃烧灵魂，就像灰烬上跳跃的一朵火焰<br/>
在每个Session间隙，穿插有高质量的整点表演：
</p>
<ol>
<li><span class="bold">Défilé现场时装秀：</span> 全巴黎范围内甄选模特，比市场先一步看到来自巴黎ESMOD高等时装设计学院的最新最优秀服装作品
<li><span class="bold">传统茶艺表演：</span>法国茶协会舞会巨献，展现原汁原味的茶文化
<li><span class="bold">中西乐器合奏《千里之外》：</span>来自巴黎高等音乐师范学院大神级人物的专业性演奏，西洋乐与民乐的琴瑟和鸣
<li><span class="bold">肚皮舞《尼罗河的女儿》：</span>ESCP舞社首秀，东方面孔演绎的西域风情
</ol>
<p>
无论你是热情的参与者，还是冷静的旁观者，都会被这个夜晚温柔对待。
</p>
<br/>

<table class="noborder">
<tr>
<td width="300px">时间：
<td>4月11日晚8点至凌晨1点
</tr>
<tr>
<td>地点：
<td>Marriott Hotel, 70 Avenue des Champs-Elyses,75008 (<span class="bold">香榭丽舍大街上的五星酒店</span>)
</tr>
<tr>
<td>Dressing Code：
<td><span class="bold">西装</span>（男士），<span class="bold">礼服</span>（女士）
</tr>
<tr>
<td>入场费：
<td><span class="bold">25欧</span>/人 （含buffet和一份软饮），两张<span class="bold">45欧</span>。<br/>
平民般的消费，贵族般的享受。前20名报名免费一节舞蹈课，前80名报名舞蹈课全程8折起。
</tr>
</table>
<p style="text-align: center; font-size: large;"><strong><a target="_blank" href="https://docs.google.com/forms/d/17m5Ru1dMFpJ3pXOJKCsHuZokaFbk69qi15REdXhqYeM/viewform">报名链接，请点击此处</a></strong><br/>
</p>
如有任何疑问请发邮件到 chicalachinoise2014 _at_ gmail.com。<br/>
<br/>


<p>
*本次舞会特别为你准备了提前舞蹈教学环节，华尔兹和rock，高质量的教学助你踏出社交第一步。详细信息及报名请参见：<a target="_blank" href="https://docs.google.com/forms/d/1Zsh14cy4nNWmPSYOauoA4BDRIsYwU2TOBzipgWt1gjs/viewform">舞蹈教程介绍</a>。
<p>
**你是本次舞会的现场时装秀的主人！招募男女模特，盛装的舞会将为你点燃镁光灯。具体信息请联系 钱利芳 canthylifangqian _at_ gmail.com。

<p>
如果你错过这场盛会，你将无法想象，这迅速流逝的夜晚会给你的生活<span class="bold">点燃什么</span>。

<p>
最后特别鸣谢舞会赞助单位：法国浙江大学校友会，上海交通大学法国校友会，凯撒旅游，中国国旅法国公司，AFCP （巴黎高科中法友好协会）。
<p>
中国国旅法国公司（CITS FRANCE ）为中国国际旅行社总社在法国的独资子公司，是首家也是目前唯一一家在法国注册的国资旅行社。公司的经营范围包括：机票服务、中国团队在欧洲的地接服务、中国签证服务、法国人赴华旅游服务。2014年4月起国旅法国公司隆重推出（巴黎出发）法国深度游及周边国家旅游系列团，详情致电 01 4286 8899 或 邮件 info _at_ citsfrance.com  让国旅法国公司带您畅游欧洲，快乐启程吧！
	
	
	


	<hr />
	<h3 id="vfr">Version française</h3>
	
	
	
	
	 <h2>Présentation du bal &laquo;&nbsp;Chic à la Chinoise&nbsp;&raquo;</h2>

<p>
Vous êtes attirés par une <strong>Chine exotique</strong>&nbsp;?<br/>
Vous êtes passionnés par une <strong>Chine mystérieuse</strong>&nbsp;?<br/>
Vous êtes curieux de connaitre la <strong>finesse à la chinoise</strong>&nbsp;?<br/>
Vous avez envie de découvrir la <strong>majesté à la chinoise</strong>&nbsp;?<br/>
Vous êtes chaleureusement conviés à notre prestigieux <strong>bal &laquo;&nbsp;Chic à la Chinoise&nbsp;&raquo;</strong> qui aura lieu le 11 avril, 2014 à l'hôtel Marriott Champs Elysées, 70 Avenue des Champs Elysées.
</p>

<p>
Cette soirée éblouissante sera marquée par un échange de deux cultures remarquables du monde : chinoise et française. La valse et le rock seront pratiqués tout au long du bal. Vous pourrez également y apprécier des évènements culturels symboliques tels que :
<ul>
<li>Un défilé de mode où les vêtements sont fournis par les élèves en dernière année de l’ ESMOD (Ecole Supérieure des Arts et techniques de la Mode) et ils seront présentés par des participants du bal.
<li>Une cérémonie de thé présentée par l’association Thé et Santé.
<li>Des concerts d'élèves de l'Ecole Normale de Musique de Paris interprétés à l'aide de divers instruments de musique chinois et occidentaux. 
<li>Danse orientale présentée par des élèves chinoises de l’ESCP Europe Business School.
</ul>

<p>
Le bal est organisé par l’AFCP (Association amicale Franco-Chinoise ParisTech), en partenariat avec les associations des anciens des universités Zhe Da, Jiao Da, Tongji, Beida, Wuda, Qinghua, l’association Chine ESCP et l’association Thé et Santé. 

<p>
<strong class="u">Bénéfices :</strong><br/>
<strong>Cours de danse :</strong> Les cours d’initiation à la danse (valse et rock) sont organisés spécialement pour notre bal. Les premiers inscrits au bal auront le droit d’une réduction de prix sur les cours de danse. <a target="_blank" href="https://docs.google.com/forms/d/1Zsh14cy4nNWmPSYOauoA4BDRIsYwU2TOBzipgWt1gjs/viewform">Cliquez ici pour plus de renseignements et pour l’inscription</a>.<br/> 
<strong>Défilé de mode :</strong> Si vous êtes intéressés par une expérience unique de mannequin (présenter les vêtements de haute couture), veuillez contacter Mlle Qian canthylifangqian _at_ gmail.com. Nous recrutons des filles comme des garçon.

<p>
<strong class="u">Infos Pratique :</strong><br/>
<strong><a target="_blank" href="https://docs.google.com/forms/d/17m5Ru1dMFpJ3pXOJKCsHuZokaFbk69qi15REdXhqYeM/viewform">Lien pour l’achat des billets</a></strong><br/>

<strong>Prix :</strong> 25 euros par personne, 45 euros pour un couple. Une boisson soft et un buffet à volonté sont inclus. Un cours de danse gratuit pour les 20 premières personnes ayant payé. Réduction de 20% pour les 80 premières personnes ayant payé.<br/> 
<strong>Dress code :</strong> smoking.<br/>
<strong>Date :</strong> Vendredi le 11 avril 2014 à partir de 20h.<br/>
<strong>Lieu :</strong> Hotel Marriott Champs Elysées, 70 Avenue des Champs Elysées. Tout l’étage du niveau -1.<br/>
En cas de problème, veuillez contacter l’adresse mail chicalachinoise2014 _at_ gmail.com.

<p>
Nous tenons à remercier sincèrement nos sponsors : ZUAAF, SJTUAAF, Caissa Touristic Paris, China International Travel Service France et AFCP. 
	
	
<p style="text-align: center;">
	<a target="_blank" title="Caissa Touristic"
		href="http://zh.caissa.de/index.php/Category/index/id/31"> <img
		alt="Logo de Caissa Touristic"
		src="{{ static_ }}/doc/bal/sponsor_caissa_paris.png" width="300px"
		height="220px"/></a>
	

</div>

{% endblock %}{# sidebar_and_content #}




