{% extends "afcp/amusement/amusement.html" %}
{% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_head %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/sections.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/gala.css"/>


{% block html_title %}<title>Gala de la Lune</title>{% endblock %}

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>Gala de la Lune</h1>

	<a target="_blank" title="报名 - Cliquez pour vous inscrire"
		href="http://form.jotformpro.com/form/42743010211941"> <img
		alt="affiche du Gala de la Lune"
		src="{{ static_ }}/doc/gala/gala2014.jpg" width="670px"
		height="947px"/></a>

	<p>
		<a class="greater" href="#vfr">Version française ci-dessous - cliquez ici pour y accéder</a>
	</p>


	<h2>
	  2014 AFCP巴黎高科中法友好协会年度大型晚会 <br />
	  Gala de la lune 2014 <br />
	  之 法兰西“迷”藏
	</h2>

	<!-- <p>
		报报报...报告<strong>大王</strong>！！！
	</p>

	<p>今年的Gala de la lune又更新啦！！！</p> -->

	<p>
	  迷藏（mi cang）？迷藏（mi zang）？我也不知道！总之，这才是一次真正的华山论<img src="{{ static_ }}/images/53E.gif"/>，用你的智慧<img src="{{ static_ }}/images/190.gif"/>，用你的勇气<img src="{{ static_ }}/images/B96.gif"/>，而不是运气（chou jiang）那么简单，来揭秘我们的最终宝藏！什么？屠龙刀，还是倚天剑？这些都弱爆了。。。<strong>Ipad mini</strong>, <strong>宝丽来相机</strong>还有诸多的<strong>旅游产品</strong>，只要你敢挑战，统统都归你！
	</p>

	<p>
	  为此，本山庄全程会为广大英雄好汉接风洗尘，大口喝<img src="{{ static_ }}/images/982.gif"/>，大口吃<img src="{{ static_ }}/images/972.gif"/>，热辣劲<img src="{{ static_ }}/images/1B6.gif"/>（肚皮的，洋人的，现代的。。），热门潮<img src="{{ static_ }}/images/814.gif"/>（独唱的，串烧的。。），<img src="{{ static_ }}/images/816.gif"/><img src="{{ static_ }}/images/819.gif"/>演奏。。。当然，经典小游戏也是少不了的，还会有丰厚小礼品拿哦！如果你还不尽兴，别忘了，我们还会在最专业的DJ带领下，舞动全场，嗨爆整晚！所有这些，统统免费！！
	</p>

	<p>
	  可是。。。本庄寄于cite u屋檐之下，对于他们的买路钱还不得不低头，邪恶的地主发来一份买路链接，<strong>12欧</strong>一人；不过你要是<strong>五人以上</strong>携手买路，<strong>10欧</strong>一人也成。对于网络报名英雄，本庄主会与之切磋武功“拍立得<img src="{{ static_ }}/images/4EF.gif"/>“，秒手一挥，为你或你和小伙伴一起留下最美瞬间！此外，当天地主也会现场拦路收费，价格不变，可惜没有了武功切磋。所以，为了我们的招待方便和你的美妙留影，尽快按照下面的链接呈递名帖。！
	</p>
	<p>
	  <strong>买路链接： <a href="http://form.jotformpro.com/form/42743010211941">点我</a></strong>
	</p>

	<p>

	  欢迎各路好汉，携亲朋好友，于<strong>10月10日20:15分</strong>前往cité universitaire的<strong>Maison des Arts et Métiers</strong> (1,avenue Pierre MASSE-75014,Paris)。本庄主恭候各位大驾光临，我们不见不散！
	</p>

	<p>
	  如有任何问题，可予本庄主飞鸽传书，飞鸽编号：<a href="mailto:beyondhyx@gmail.com">beyondhyx@gmail.com</a>
	</p>

	<p>
	  <strong>本次活动得到了游游旅行社，中法舞蹈协会(AFCD)以及法国学生会联盟(FFBDE)的支持的协助。</strong>
	</p>

	<!--
	<p>

		本次活动解释权归AFCP所有，如有疑问请发送邮件联系
		flyzhangyi@gmail.com
	</p>
	-->

	<p>
	<hr />
	<h3 id="vfr">Version française</h3>

	<p>Nous vous invitons à notre grande soirée biculturelle ouverte à
		tous :</p>

	<h2>Gala de la Lune 2014</h2>

	<p>
	  le vendredi 10 octobre 2014 à partir de 20h15, à la mainson des Arts et Métiers de Cité Universitaire
	</p>

	<p>
	  Cet événement est chaque année l'occasion rêvée pour venir découvrir la culture chinoise en célébrant ensemble l'arrivé de l'autome.
	</p>
	<p>
	  Du spectacle, de la bonne chère, et une attractive loterie !
	  Première partie de soirée : Spectacle, Animations Traditionnelles et Loterie
	  Seconde partie de soirée : Party !
	</p>
	<p>
	  <strong>
	    Premier prix : IPAD MINI <br />
	    Deuxième prix : POLAROID <br />
	    Troisième prix : CHEAUES DE VOYAGE (6 lots) <br />
	  </strong>
	</p>
	<p>
	  Si tu es intéressé par la Chine, cette soirée a été pensée pour toi ! N'hésite pas à faire tourner l'invitation !
	</p>
	<p>
	  Détails techniques : <br />
	  <strong>
	  Horaire : Vendredi 10 octobre à partir de 20h15 <br />

	  Adresse : Maison des Arts et Métiers à la Cité Universitaire,
            1 avenue Pierre MASSE-75014,Paris  (proche ERE B Cité Universitaire)  <br />
	    </strong>
	</p>

	<div style="color: red; font-weight: bold;"><p>Prix d'entrée : <br/>
	  10€ Achat groupé en ligne (à partir de 5 personnes):inculant une photo de Polaroid <br />
	  12€ Si inscription en ligne (vous pouvez payer sur place) : incluant une photo de Polaroid <br />
          <a href="http://form.jotformpro.com/form/42743010211941">Achat en ligne</a> <br />
	  12€ Sur place <br />
	  (incl. 1boisson, des snacks et 1 ticket loterie)
	</p></div>



	<p>En cas de question, contacter : <a href="mailto:beyondhyx@gmail.com">beyondhyx@gmail.com</a></p>

</div>

{% endblock %}{# sidebar_and_content #}
