{% extends "afcp/amusement/amusement.html" %}
{% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_head %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/sections.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/lanternes.css"/>


{% block html_title %}<title>Fête des lanternes</title>{% endblock %}

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>Fête des lanternes</h1>
	
	<a target="_blank"
			title="报名 - Cliquez pour vous inscrire"
			href="https://docs.google.com/forms/d/1OZP5Em6F8osWoKkkrbx7rjbk7EPj4cXm8RJKhroyXJE/viewform?sid=95207e95f000d0b&token=x1E4ojwBAAA.Ltty7oqH2Ws0gMkcdUU10w.rCTxZr7dLllPulGOWes1oQ">
	<img alt="affiche de la fête des lanternes"
		src="{{ static_ }}/afcp/images/fete_lanternes/fete_lanternes.jpg"></a>
	
	<p>
		<a class="registerlink" target="_blank"
			title="报名 - Cliquez pour vous inscrire"
			href="https://docs.google.com/forms/d/1OZP5Em6F8osWoKkkrbx7rjbk7EPj4cXm8RJKhroyXJE/viewform?sid=95207e95f000d0b&token=x1E4ojwBAAA.Ltty7oqH2Ws0gMkcdUU10w.rCTxZr7dLllPulGOWes1oQ">报名
			- S'inscrire</a>
	</p>

	<p><span style="color: #3d85c6;">塞纳水上</span><span style="color: red;">闹元宵</span>，<span style="color: #bf9000;">波光灯影</span><span style="color: #a64d79;">共良辰</span>。</p>

	<p>上元佳节，能在浪漫之都，与知己友人齐闹元宵，想必是极好之事；若能登上游船，观歌舞品美食于塞纳河上，倒也不负了这良辰美景。那就快来参加"2013年元宵佳节法国名校人才交流会"吧。本次晚会由在法的八个校友会联合举办，定要予你一个不一样的上元之夜。

	
	<p>值此元宵佳节之际</p>


	<ul>
		<li>巴黎高科中法友好协会</li>
		<li>法国浙江大学校友会</li>
		<li>北京大学法国校友会</li>
		<li>上海交通大学法国校友会</li>
		<li>ESCP EUROPE中国学生会</li>
		<li>清华大学法国校友会</li>
		<li>同济大学法国校友会</li>
		<li>武汉大学法国校友会</li>
	</ul>

	<p>向大家致以节日里最诚挚的祝福</p>

	<p>祝各位校友：新年快乐 身体健康 福星高照 鸿运当头 工作顺利 学业有成</p>

	<p>诚挚邀请各位校友参加<span style="color: #3d85c6; font-size: large;">"2013年元宵佳节法国名校人才交流会"</span></p>

	<p>
		时间：<span style="color: red;">2013年2月23日（周六）晚19:00 - 23:00 （请务必在8点船开动之前登船）</span><br />
		地点：塞纳河游船，<span style="color: red;">上船点在Port de Debilly (Métro Léna, Trocadéro)</span>
	</p>

	<p>
		塞纳游船 + 中式自助晚宴 + 靓歌劲舞，更有精彩的互动游戏和灯谜环节等你来参与！<br />
		价格：25欧
	</p>

	<p>在您报名后，我们将在三天内给您发送报名成功确认信息以及付款链接。</p>

	<p>本次活动由<span style="color: #bf9000; font-weight: bold;">浙江杭州未来科技城（海创园）</span>友情赞助。</p>

	<p>
		中餐自助由鼎鼎香和随意坊提供。<br />
	<p>活动解释权归各举办协会所有，如有疑问请发送邮件联系: <a href="mailto:flyzhangyi@gmail.com">flyzhangyi@gmail.com</a></p>

	<hr/>


	<p>Joyeuse Fête des Lanternes 2013 !</p>


	<p>Nous vous invitons à venir au gala de la Fête des Lanternes
		2013, organisé par :</p>

	<ul>
		<li>Association amicale Franco Chinoise de Paristech (AFCP)</li>
		<li>Association des anciens élèves de l'université de Pékin en
			France</li>
		<li>Association des anciens élèves de l'université de Jiao Tong
			en France</li>
		<li>Association amicale Franco Chinoise d'École supérieure de
			commerce de Paris Europe</li>
		<li>Association des anciens élèves de l'université de Tsinghua en
			France</li>
		<li>Association des anciens élèves de l'université de Tong Ji en
			France</li>
		<li>Association des anciens élèves de l'université de Wu Han en
			France</li>
		<li>Association des anciens élèves de l'université de Zhe Jiang
			en France</li>
	</ul>

	<p>
		Samedi le 23 février 2013, 19h - 23h (Merci d'arriver avant 20h)<br />
		Au Port de Debilly (Métro Léna, Trocadéro)
	</p>

	<p>
		Repas chinois, Chants, Danses…<br /> Ne ratez pas le jeu de quizz
	</p>

	<ul>
		<li>Tarif : 25 euros, buffet + gala inclus</li>
		<li>Vous allez recevoir un autre email pour le paiement.</li>
	</ul>

	<p>
		Si vous avez des questions, veuillez nous contacter à l'adresse
		suivante : <a href="mailto:flyzhangyi@gmail.com">flyzhangyi@gmail.com</a>
	</p>

	<p>
		<a class="registerlink" target="_blank"
			title="报名 - Cliquez pour vous inscrire"
			href="https://docs.google.com/forms/d/1OZP5Em6F8osWoKkkrbx7rjbk7EPj4cXm8RJKhroyXJE/viewform?sid=95207e95f000d0b&token=x1E4ojwBAAA.Ltty7oqH2Ws0gMkcdUU10w.rCTxZr7dLllPulGOWes1oQ">报名
			- S'inscrire</a>
	</p>

</div>

{% endblock %}{# sidebar_and_content #}




