{% extends "afcp/static/fr/about/about.html" %}
{% comment %}
<!--
  The about page of the AFCP webapp, French version (fr).
  
  Created on 2008-11-20.
  $Id: activities.html 39 2010-03-08 21:47:02Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>Activités</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}

{% block content %}

<div class="section">
  <h1>Quelle sont nos activités ?</h1>
  <p>Depuis la fondation de l'association, nos activités se sont développées selon trois grands axes : <b>scolaire, culturel, et professionnel</b>. Nous organisons des présentations et des conférences pour partager les expériences en France et pour aider les élèves chinois en France et les élèves français en Chine à s'intégrer dans la culture locale et dans leurs études. Nous organisons des expositions diverses et des soirées interactives afin de faciliter les échanges culturels entre les élèves français et chinois et faire partager les connaissances de la culture de l'un à l'autre. Nous contactons des entreprises, diffusons les informations d’embauche et de stage par mailing list, et organisons des forums professionnels, pour établir et renforcer le lien entre les jeunes élèves et des entreprises françaises, chinoises et internationales. </p>
	<ul>
	<li><p><b>"Ma vie - Ton aventure" - Exposition de la culture chinoise traditionnelle et des photographies de la vie des étudiants chinois</b></p>
		<p>Cette exposition a offert aux visiteurs une opportunité de découvrir une Chine mystérieuse de cinq mille ans et de dialoguer avec de jeunes chinois pleins d’énergie. Elle a eu lieu du 7 mars 2007 au 20 avril 2007 dans les locaux de plusieurs écoles membres de Paris Tech (MINES ParisTech, AgroParisTech, et ENSTA ParisTech). L'exposition a été organisée au tour de 6 thèmes principaux : la culture de thé, la musique traditionnelle, la calligraphie, les universités chinoises, le tourisme en Chine, et les couleurs de Chine.</p>
	</li>
	<li><p><b>Forum Horizon Chine </b></p>
		<p>Le Forum Horizon Chine s'est déroulé le 5 juin 2008 à l'Ecole Polytechnique. Il a été organisé par l’Assocation amicale Franco-Chinoise de ParisTech (AFCP) en partenariat avec l’Union des Chercheurs et des Etudiants Chinois en France (UCECF), avec le soutien de ParisTech et de l'Ambassade de Chine en France. Ce forum répondait à un triple objectif :
        </p>
        <p>
        <ul>
            <li>Aider les élèves chinois de ParisTech à trouver un stage ou un poste en France</li>
            <li>Aider les élèves français de ParisTech intéressés par une carrière en lien avec la Chine à trouver un stage ou un emploi correspondant à leurs attentes</li>
            <li>Fournir une occasion d’échanges informels aux entreprises françaises et chinoises partenaires du forum</li>
        </ul>
        </p>
        <p>
        La deuxième édition du Forum Horizon Chine a eu lieu le 28 mai 2009 dans les locaux d’Arts et Métiers ParisTech. Devenu un véritable forum d’embauche reconnu au niveau des étudiants comme des entreprises, ce forum a également été le théâtre de conférences thématiques et d’une table ronde, permettant aux grands groupes français et chinois de se faire encore mieux connaître auprès des étudiants des écoles de ParisTech.
        </p>
	
	</li>
	<li>
	<p><b>Salon AFCP</b></p>
	<p>Le salon AFCP est une activité régulière de l'association. Il s’agit d’un échange d’idées en toute liberté entre les membres de l'association, autour d’un thème qui intéresse l’ensemble des participants. Divers sujets qui ont déjà été discutés sont : une introduction sur la crise des sub-primes, la Bourse chinoise et la réforme économique, les techniques de recherche d'emploi. </p>
	</li>
	<li><p><b>Aide aux élèves français dans la recherche des stages linguistiques/d'ouvrier en Chine</b></p>
		<p>Nous aidons des élèves français qui apprennent le chinois au sein des grandes écoles de ParisTech dans leurs recherches de stages linguistiques/d'ouvrier en Chine.</p>
	</li>
	<li>
	 	<p><b>Des échanges sportifs et culturels </b></p>
		<p>L'AFCP organise enfin divers échanges culturels et sportifs pour rendre la vie étudiante plus dynamique. Nous avons des sorties barbecues, des soirées, des tournois sportifs, des loisirs et des excursions en France et en Europe !</p>

	</li>
	</ul>
  
  
 </div>



{% endblock %}{# content #}


