{% extends "afcp/static/fr/about/about.html" %}

{% block header %}
{% endblock %}{# header #}
{#------------------------------------------------------------------------------------------------#}
{% block html_title %}
<title>Candidature d'élection 2014</title>
{% endblock %}{# html_title #}
{#------------------------------------------------------------------------------------------------#}


{% block content %}
<div class="section">
    <h1>AFCP巴黎高科中法友好协会2014年度理事团成员选举候选人公示</h1>
    <ul>
	<li>
	    <a href="https://docs.google.com/file/d/0B_jvbduzL5ASZjFUM1NZd3ZYNnM/edit?usp=docslist_api">ZHU Tong</a>
	</li>
	<li>
	    <a href="https://docs.google.com/file/d/0B_jvbduzL5AScXMtRlFFc3ZwcWs/edit?usp=docslist_api">Julien LEGRAND</a>
	</li>
	<li>
	    <a href="https://docs.google.com/file/d/0B_jvbduzL5ASVGNqdFpSNEhVdGs/edit?usp=docslist_api">LIU Yanxi</a>
	</li>
	<li>
	    <a href="https://docs.google.com/file/d/0B_jvbduzL5ASZlB3MzRyTWRUYTA/edit?usp=docslist_api">CHEN Cheng</a>
	</li>	
    </ul>
 </div>

{% endblock %}{# content #}
