{% extends "afcp/static/fr/about/about.html" %}
{% comment %}
<!--
  The about page of the AFCP webapp, French version (fr).
  
  Created on 2008-11-20.
  $Id: nous.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{% block header %}
{% endblock %}{# header #}
{#------------------------------------------------------------------------------------------------#}
{% block html_title %}
<title>Qui sommes nous</title>
{% endblock %}{# html_title #}
{#------------------------------------------------------------------------------------------------#}


{% block content %}
<div class="section">
  <h1>Qui sommes nous ?</h1>
  <p>L’Association amicale Franco Chinoise de Paristech (AFCP) a pour objectif général de promouvoir les échanges scolaires, professionnels et culturels entre les deux pays, afin de renforcer le lien amical franco-chinois.</p>
  <p>Notre association est ouverte à tous les étudiants en cours de cursus ou déjà diplômés des Grandes Ecoles membres de Paris Tech, tout particulièrement les étudiants chinois et les étudiants français qui se rendent en Chine pour y poursuivre leurs études, y effectuer des stages ou y travailler.</p>	
  <p>Elle vise à :</p>
  <ul>
  <li>aider dans leurs démarches des étudiants, résidant en Chine, candidats à des études complémentaires dans l’un des programmes de ParisTech ;</li>
  <li>faciliter l’accueil des élèves chinois en France dans l’une des Grandes Ecoles de ParisTech, les orienter dans leurs démarches administratives, dans leur apprentissage du français, et les informer sur leurs conditions de séjour ;</li>
  <li>aider les élèves et anciens élèves français diplômés de l’une des Grandes Ecoles de ParisTech dans leur implantation en Chine, soit dans le cadre de la poursuite de leurs études soit dans le cadre d’activités professionnelles, ainsi que dans leur apprentissage du chinois,;</li>
  <li>assurer la promotion des programmes de ParisTech auprès des entreprises françaises et chinoises, aider les membres de l’association à renforcer leurs liens avec les entreprises et les autres organisations, et les assister dans leur recherche de stage et d’emploi par l’organisation de forums et de rencontres ;</li>
  <li>faire connaître ParisTech et son programme Chine dans les universités chinoises, notamment celles qui sont partenaires du programme ;</li>
  <li>maintenir des liens amicaux, d’entraide et de soutien à l’activité professionnelle et animer la communauté de tous les anciens ayant suivi un parcours biculturel franco-chinois dans les Grandes Ecoles de ParisTech et dans les universités chinoises partenaires de ParisTech. </li>
  </ul>
  
 </div>

{% endblock %}{# content #}


{#------------------------------------------------------------------------------------------------#}

