{% extends "afcp/static/fr/about/about.html" %}
{% comment %}
<!--

  The about page of the AFCP webapp, French version (fr).
  
  Created on 2008-11-20.
  $Id: paristechchine.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>Paritech en Chine</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}
{% block content %}
<div class="section">
  <h1>ParisTech en Chine</h1>
	<p>Depuis plusieurs années, ParisTech développe en Chine un important programme de formation d’ingénieurs, organisé autour de deux partenariats croisés avec :</p>
	<p>neuf des principales universités chinoises:</p>
	<table cellspacing="0" border="1">
		
		<tr>
		<th ROWSPAN=3>Pékin :</th>
		<td>- Peking University</td>
		</tr>
		
		<tr><td>- Tsinghua University </td></tr>
		<tr><td>- China Agricultural University</td></tr>
		<tr>

		<th ROWSPAN=3>Nankin :</th>
		<td>- Nanjing University</td>
		</tr>
		<tr><td>- SouthEast University </td></tr>
		<tr><td>- Nanjing Agricultural University</td></tr>
		<tr>		
		<th ROWSPAN=3>Shang hai :</th>

		<td>- Fudan University</td>
		</tr>
		<tr><td>- Shanghai Jiaotong University </td></tr>
		<tr><td>- Tongji University</td></tr>
	</table>
	
	<p>l’IFCIM (Institut Franco Chinois d’Ingénierie et de Management). Créé en 1998 par l'Ecole des Ponts ParisTech et ParisTech d'une part, et par l'Université de Tongji d'autre part, cet institut est hébergé dans le Centre Franco-Chinois de l'Université de Tongji. Il abrite la branche chinoise du MBA de l'école des Ponts ParisTech (SIMBA), ainsi que 6 Masters pro et deux Mastères Spécialisés. Ces formations franco-chinoises sont coordonnées par l'Ecole des Ponts ParisTech, AgroParisTech, ESPCI ParisTech, MINES ParisTech et TELECOM ParisTech; elles reçoivent chaque année une centaine d'étudiants pour le MBA, et une dizaine d'étudiants pour chacune des autres formations.</p>
	<p>A ce jour, nous comptons 400 étudiants chinois ayant bénéficié de diverses formations franco-chinoises au sein de Paris Tech ; le nombre d'étudiants et d’anciens étudiants chinois dépasse le millier si les formations de mastère professionnel et doctorale sont prises en compte. La majorité des étudiants chinois diplômés issus des cinq premières promotions du programme 50 ingénieurs a été embauchée dans de grandes entreprises françaises ou européennes, ou a poursuivi des études doctorales. </p>
 
 </div>

{% endblock %}{# content #}


