{% extends "afcp/static/fr/about/about.html" %}
{% comment %}
<!--
  The about page of the AFCP webapp, French version (fr).
  
  Created on 2008-11-20.
  $Id: paristech.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{# ---------------------------------------------------------------------------------------------- #}

{% block html_title %}
<title>Paritech</title>
{% endblock %}{# html_title #}

{# ---------------------------------------------------------------------------------------------- #}
{% block content %}
<div class="section">
  <h1>Qui est Paritech ?</h1>
	<p>ParisTech, institut des sciences et technologies, constitue un pôle de référence dans le domaine de l’enseignement supérieur et de la recherche. Il couvre l'ensemble des sciences et des techniques de l'ingénieur, chacune des écoles membres* étant reconnue comme la meilleure en France dans son domaine. </p>
	<p>Le nombre de ses enseignants et la gamme complète des disciplines scientifiques couvertes confèrent à ParisTech une stature comparable à celle des grandes universités scientifiques et techniques au niveau mondial, pour lesquelles il peut constituer un partenaire d’excellence.</p>
	<p>* Ecoles membres fondateurs de ParisTech (par ordre alphabétique) :</p>
 <table cellspacing="0" border="1">
		
		<tr>
		<td><img src="/static/forum/images/logo/enpc.jpg"  width="80" hight="80"/></td>
		<td ><a href="http://www.enpc.fr">École des Ponts ParisTech </a></td>
		<td><img src="/static/forum/images/logo/telecomparis.gif"  width="80" hight="80"/></td>
		<td ><a href="http://www.enst.fr">Télécom ParisTech</a></td>
		</tr>

		<tr>
		<td><img src="/static/forum/images/logo/ensae.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.ensae.fr">ENSAE ParisTech</a></td>
		<td><img src="/static/forum/images/logo/ensta.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.ensta.fr">ENSTA ParisTech</a></td>
		</tr>

		<tr>
		<td><img src="/static/forum/images/logo/ensam.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.ensam.fr">Arts et Métiers ParisTech</a></td>
		<td><img src="/static/forum/images/logo/polytechnique.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.polytechnique.fr">Ecole polytechnique</a></td>
		</tr>

		<tr>
		<td><img src="/static/forum/images/logo/hec.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.hec.fr/">HEC Paris</a></td>
		<td><img src="/static/forum/images/logo/optique.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.institutoptique.fr">Institut d'Optique Graduate <i>School</i></a></td>
		</tr>
		
		<tr>
		<td><img src="/static/forum/images/logo/enscp.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.enscp.fr">Chimie ParisTech</a></td>
		<td><img src="/static/forum/images/logo/espci.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.espci.fr">ESPCI ParisTech</a></td>
		</tr>

		<tr>
		<td><img src="/static/forum/images/logo/ensmp.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.ensmp.fr">MINES ParisTech</a></td>
		<td><img src="/static/forum/images/logo/agroparistech.jpg"  width="80" hight="80"/></td>
		<td><a href="http://www.agroparistech.fr">AgroParisTech</a></td>
		</tr>
		
		</table>
 
 </div>

{% endblock %}{# content #}


