{% extends "afcp/afcpchine/afcpchine.html" %}
{% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_head %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/sections.css"/>


{% block html_title %}<title>Alumni Salon</title>{% endblock %}

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>Alumni Salon</h1>
	
	<p>On December 19th, 2013, the AFCP-Chine organized its first Alumni Salon in Shanghai, China. In order to welcome the ParisTech alumni returning to China in 2013, the theme of the salon was chosen as “With the time zone turning back to GMT+8, your experiences in France still matter in your career development?”</p>
<p>Three senior alumni, 2 working for French companies and 1 for the Chinese government, were invited to give a theme speech respectively to share their experiences with more than 30 alumni present at the salon. Active responses among the audience were aroused by the topics brought up by the three speakers, i.e. the differences in working culture between China and France, and the negotiation skills when facing the employers. Following the theme speeches, a cocktail was offered to the alumni allowing them to exchange freely their opinions and experiences and to build network with each other. The salon lasted much longer than expected as many alumni were too eagerly involved in discussions to leave earlier, which demonstrated the success of the first Alumni Salon of the AFCP-Chine.</p>
<p>Still being a young organization in China, the AFCP-Chine expects to launch more activities for the alumni in the future.</p>
<p>For more information, please follow us in Wechat: AFCP-Chine.</p>
	
	<p style="text-align: center;"><img
		alt="Alumni Salon QR code"
		src="{{ static_ }}/doc/afcpchine/afcpchine_qrcode.png" width="430px"
		height="430px"/></p>
	<p style="text-align: center;"><img
		alt="Alumni Salon photo 1"
		src="{{ static_ }}/doc/afcpchine/afcpchine_salon1.png" width="670px"
		height="500px"/></p>
	<p style="text-align: center;"><img
		alt="Alumni Salon photo 2"
		src="{{ static_ }}/doc/afcpchine/afcpchine_salon2.png" width="670px"
		height="500px"/></p>
	<p style="text-align: center;"><img
		alt="Alumni Salon photo 3"
		src="{{ static_ }}/doc/afcpchine/afcpchine_salon3.png" width="670px"
		height="500px"/></p>
	<p style="text-align: center;"><img
		alt="Alumni Salon photo 4"
		src="{{ static_ }}/doc/afcpchine/afcpchine_salon4.png" width="670px"
		height="500px"/></p>
	<p style="text-align: center;"><img
		alt="Alumni Salon photo 5"
		src="{{ static_ }}/doc/afcpchine/afcpchine_salon5.png" width="670px"
		height="500px"/></p>

</div>

{% endblock %}{# sidebar_and_content #}




