{% extends "base.html" %}

{% comment %}
<!--
  Created on 2008-11-14.
  $Id: inscription.html 32 2009-09-23 21:50:28Z guolin.mobi $
-->
{% endcomment %}

{% load i18n %}

{#------------------------------------------------------------------------------------------------#}

{% block html_head %}

<title>Inscription for SKI2012:: AFCP</title>

<link rel="stylesheet" type="text/css" media="screen,print" href="{{ static_ }}/stylesheets/sections.css"/>

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block sidebar_and_content %}

<div class="section"> 

    <p>
		<iframe src="https://docs.google.com/spreadsheet/viewform?formkey=dHBzY0dDeUlGN08zX0ZHdzY0RVJFa2c6MQ" width="860" height="2000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </p>
{% endblock %}{# sidebar_and_content #}
