{% extends "base.html" %}

{% comment %}
<!--
  Created on 2008-11-14.
  $Id: inscription.html 32 2009-09-23 21:50:28Z guolin.mobi $
-->
{% endcomment %}

{% load i18n %}

{#------------------------------------------------------------------------------------------------#}

{% block html_head %}

<title>Inscription :: 非诚勿扰</title>

<link rel="stylesheet" type="text/css" media="screen,print" href="{{ static_ }}/stylesheets/sections.css"/>

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block sidebar_and_content %}

<h1>AFCP巴黎高科中法友好协会倾情奉献：非诚勿扰法国专场现场报名及面试活动</h1>
<br><br>

<div class="p1">
<br />
<div align="left" class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-color: white; background-image: initial; background-origin: initial; color: #500050; font-family: arial, sans-serif; font-size: 13px; line-height: 15.05pt; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; text-align: left;">
<span style="color: black;"><em><strong><span style="color: red; font-family: simsun, serif;">往前一步是幸福</span></strong></em><span lang="EN-US"></span></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; text-indent: 24.75pt;">
<span style="color: black;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #000099;"><em><strong>退后一步是孤独<span lang="EN-US"></span></strong></em></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: simhei, sans-serif;">各位高富帅，白富美，<span lang="EN-US"></span></span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: simhei, sans-serif; font-size: small;"><strong></strong></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: simhei, sans-serif;">非诚勿扰来法国了，</span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: simhei, sans-serif;"></span></strong></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: simhei, sans-serif;">你，<span lang="EN-US">hold</span>住吗？<span lang="EN-US"></span></span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="font-family: 'arial black', sans-serif;"><em><span style="color: black;"></span></em></span>&nbsp;</div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="font-family: 'arial black', sans-serif;"><em><span style="color: #ff6600;">白素贞你早该住手了，许仙真的不在国内。<span lang="EN-US"></span></span></em></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="font-size: medium;"><span style="color: #6600cc;">法国的同学们，孟非喊你们回国参加非诚勿扰啦！！！<span lang="EN-US"></span></span></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: 'comic sans ms', sans-serif;">我深切的知道，如果你能登台非诚勿扰，</span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: 'comic sans ms', sans-serif;">对你来说一定是<span style="font-size: small;">一个灰常艰难的决定，</span></span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: 'comic sans ms', sans-serif;"><span style="font-size: small;">但<span lang="EN-US">24</span>盏小灯在你眼前绽放的时候，<span lang="EN-US">&lt;</span>最重要的决定<span lang="EN-US">&gt;</span>响起的时候，</span></span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: 'comic sans ms', sans-serif;"><span style="font-size: small;">一切都是值得的，</span></span></strong></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><strong><span style="font-family: 'comic sans ms', sans-serif;"><span style="font-size: small;">至于你信不信，反正我是信了。。。<span lang="EN-US"></span></span></span></strong></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;">由<span style="color: red;"><span style="font-size: medium;"><span lang="EN-US">AFCP</span>巴黎高科中法友好协会</span></span>和<span style="color: #000099;">欧洲时报</span>共同组织的<strong><em><span style="color: #6600cc;">非诚勿扰法<wbr></wbr>国专场现场报名及面试活动</span></em></strong>即将展开，欢迎你的到来。<span lang="EN-US"></span></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<span style="background-color: rgba(255, 255, 255, 0.917969); color: black; font-family: arial, sans-serif; font-size: 13px;"><strong><span style="font-family: simhei, sans-serif;"><span style="font-size: medium;"><div>
<span style="font-size: medium;">时间: 2012年3月31日周六晚18：00</span></div>
<div>
<span style="font-size: medium;">地点： 21 rue d‘Antin 75002 PARIS (metro OPERA</span>)</div>
</span></span></strong></span><div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="FR"><span style="color: black;">&nbsp;</span></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="FR"></span>&nbsp;</div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;">不管您是来报名，来现场面试，还是亲友团助阵，甚至来打酱油，<wbr></wbr>我们热忱欢迎您的到来！！</span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><span lang="FR"></span></span>&nbsp;</div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="background-color: red; color: black;">现场还有精彩的现场互动环节和小礼品送给大家。</span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><span lang="FR"></span></span>&nbsp;</div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;">感兴趣的亲们可以直接到网上报名，报名链接如下<span lang="FR">&nbsp;:</span></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="FR"><span style="color: black;"><span style="font-family: arial, helvetica, sans-serif; font-size: x-large;"><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHEtbXI3eFh1eENvZUhyRWF1d2M0bUE6MQ" style="color: #1155cc;" target="_blank">https://docs.google.com/<wbr></wbr>spreadsheet/viewform?formkey=<wbr></wbr>dHEtbXI3eFh1eENvZUhyRWF1d2M0bU<wbr></wbr>E6MQ</a></span></span></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="FR"></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="FR"></span>&nbsp;</div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;">如果您想在现场面试，欢迎提前到官网上报名<span lang="FR"></span></span></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
<span style="color: black; font-family: 宋体; font-size: small;"></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="EN-US" style="color: blue; font-size: 12pt;"><span style="color: black; font-family: Calibri;"><span style="font-family: 宋体;"></span><div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span lang="EN-US" style="font-size: 12pt;"><a href="http://fzone.oushinet.com/fcwr" style="color: #1155cc;" target="_blank"><span style="color: blue;"><span style="font-size: medium;">http://fzone.oushinet.com/fcwr</span></span></a><u><span style="color: blue;"></span></u></span></div>
<span style="font-family: 宋体;">&nbsp;</span></span></span></div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"></span>&nbsp;</div>
<div class="gmail_quote" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;">
</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"></span>&nbsp;</div>
<div class="MsoNormal" style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px; margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><span lang="EN-US" style="color: blue; font-size: 12pt;"><span style="font-family: 宋体;"><span style="color: black;"></span><div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><b>《非诚勿扰》节目：</b>《非诚勿扰》是中国目前最火爆、<wbr></wbr>知名度最高的大型婚恋交友节目，<wbr></wbr>也是为广大单身男女提供的开放式婚恋交友平台。节目自<span lang="EN-US">2010</span>年<span lang="EN-US"><wbr></wbr>1</span>月<span lang="EN-US">15</span>日首播起，收视率一直高居不下，稳居“<wbr></wbr>国内综艺节目排行榜”的前三甲，至今已播出两百余集。<wbr></wbr>精良的节目制作和完全突破传统的现场互动方式，<wbr></wbr>不仅体现了新时代男女的交友观、当代中国的婚恋观，更得到观众、<wbr></wbr>网友以及海外华人的广泛关注。<span lang="EN-US"></span></span></div>
<span style="color: black;"></span><div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><span lang="EN-US">2011</span>年节目组推出海外专场，<wbr></wbr>在各大洲华人群体中挑选男女嘉宾，回国录制节目。目前已播出<span lang="EN-US">20<wbr></wbr>11</span>年<span lang="EN-US">7</span>月的澳洲专场、<span lang="EN-US">10</span>月的美国专场，以及<span lang="EN-US">2012</span>年<span lang="EN-US">1</span>月的<wbr></wbr>英国专场。今年<span lang="EN-US">3</span>月，期盼已久的法国专场终于千呼万唤始出来！<span lang="EN-US"></span></span></div>
<span style="color: black;"></span><div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<span style="color: black;"></span><div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;"><b>法国专场活动：</b>本次活动江苏卫视《非诚勿扰》节目组携手《<wbr></wbr>欧洲时报》共同举办，由《欧洲时报》及其子网站《法纵网》<span lang="EN-US">(<a href="http://fzone.oushinet.com/" style="color: #1155cc;" target="_blank">ht<wbr></wbr>tp://fzone.oushinet.com</a>)</span>作为承办单位<wbr></wbr>，开展法国专场的所有报名及宣传工作。自<span lang="EN-US">3</span>月<span lang="EN-US">11</span>日正式启动报名<wbr></wbr>以来，不到一周时间已有几百名优秀的男女嘉宾报名。<wbr></wbr>在法国的广大单身男女们，请不要再坐等幸福，勇敢迈出你的脚步！<wbr></wbr>“往前一步是幸福，退后一步是孤独”，真心希望真诚的你，<wbr></wbr>能在法国专场的舞台上幸福牵手，圆梦法兰西！</span></div>
<div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<br /></div>
<div class="MsoNormal" style="margin-bottom: 0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm;">
<span style="color: black;">官鹏AFCP<span style="color: #888888;"><span lang="EN-US"></span></span></span></div>
<div>
<span style="color: black;"><br /></span></div>
<span style="color: #888888;"><span style="color: black;"></span></span></span></span></span></div>
<span style="background-color: rgba(255, 255, 255, 0.917969); color: #500050; font-family: arial, sans-serif; font-size: 13px;"><span style="color: #888888;"><div class="gmail_quote">
<span style="font-family: 宋体; font-size: small;"></span></div>
</span></span></div>


{% endblock %}{# sidebar_and_content #}
