{% extends "afcp/misc/misc.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}Itinéraire vers l'X{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>Se rendre à l'X</h1>

	<p class="info">Voici un guide rédigé par Yan WANG (汪彦) décrivant
		comment vous rendre à l'X.</p>
	<p>
	<p>首先明确目的地：X（即polytechnique 的昵称）足球场</p>

	<p>方法1 RER+爬山：</p>
	<ol>
		<li>RERB 线<span style="color: red;"><strong>Saint-Rémy-les-chevreuse</strong>
				方向</span>（方向重要，切勿搞错）坐到<strong style="color: red;">lozère</strong> 下车。
			下车出站走天桥到铁轨对面出站口出战，出站后向左转，沿马路行走150米会看见右方有如下图所示场景，在bar处右转，所圈出的地方有“Ecole
			Polytechnique”的标识。确认无误后，恭喜你们，已经踏上了爬山的征程！ <br /> <img alt="photo X 1"
			src="/static/doc/itineraire-x/photo1.png" width="627px"
			height="474px">
		</li>

		<li>从小路方向前进10 米即看见两个分叉（见下图一），选择<span style="color: red;">偏右的那条</span>（即继续前行而不
			是向左90 度转弯）。一路向上爬（无视周围的小岔路，都是通往当地人家私人住所的）直至登上200 级台阶左右，会有一个很大的分叉，选择<span
			style="color: red;">左后方向</span>那条有扶手的台阶路（见下图二），继续爬台阶（辛苦了）直至台阶没有了（废话！），又会发现面前有两条路（下图三），选择左手方向那条，前行10
			米会看到又有“Ecole Polytechnique”的标识（图四），恭喜你，已经进入X
			的校园了。推过转盘门（无需密码，用力推即可）沿小路（过转盘门后右方有一条石板路，无视它！）<span
			style="color: red;">直走</span>20 米直至柏油马路，右转。 <br /> <img
			alt="photo X 1" src="/static/doc/itineraire-x/photo2.png"
			width="628px" height="511px">
		</li>
	</ol>





	<p>方法2 RER+bus：</p>
	<p>方法二可以避免队员无谓地积累势能而损失体力，缺点周末上山车辆较少，一小时一班，请大家一定确认好到站时间.</p>
	<ol>
		<li>RER B坐到<span style="color: red;">Massy Palaiseau</span>下车 （<span
			style="color: red;"><strong>Saint-Rémy-les-chevreuse</strong>
				方向或者<strong>Massy-Palaiseau</strong>方向</span>，方向重要，切勿搞错）。
		</li>
		<li>出战后找公交车站<strong style="color: red;">91.10</strong>，方向为<strong
			style="color: red;">St-Quentin Gare</strong>。91.10周六时刻为<strong
			style="color: red;">8:38</strong>, <strong style="color: red;">9:38</strong>,
			<strong style="color: red;">10:38</strong>, 11:23, 12:23, 13:23,
			14:23, … , 21:23
		</li>
		<li>到<strong style="color: red;">Polytechnique
				Joncherettes</strong>或者<strong style="color: red;">Polytechnique
				Lozere</strong>下车
		</li>
	</ol>

	<p>到了山上之后的路线请参见一下链接：</p>

	<p>
		<a
			href="https://maps.google.com/maps/ms?msid=208656793034797910321.0004d75776ca3b234fea0&msa=0&ll=48.711764,2.216363&spn=0.009883,0.026157">Lien
			Google Maps</a>
	</p>

	<p>
		<a href="http://goo.gl/maps/Q71t2">Lien court Google Maps</a>
	</p>

	<p>对于开车的朋友，路线图如下：</p>
	<p>
		<img alt="photo X 3 itinéraire"
			src="/static/doc/itineraire-x/photo3.png" width="628px"
			height="669px" />
	</p>
	<p>另外附上X和Ensta的地图</p>
	<p>
		<img alt="photo X 4 itinéraire"
			src="/static/doc/itineraire-x/photo4.png" width="628px"
			height="441px" />
	</p>
	<br />
	<p>Par 汪彦 (X) et 陈勉 (Ensta).</p>
	<br />
	<p>巴黎高科中法友好协会</p>
	<p>2013年3月</p>





</div>

{% endblock %}{# sidebar_and_content #}




