{% extends "afcp/misc/misc.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}AFCP PPT+EXCEL training 简洁就是美{% endblock %}{#
html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section roundtable">

	<h1>Nuit de Chine</h1>

	<p>
		<a href="#french">Version française ci-dessous.</a>
	</p>

	<p>各位朋友、同学和校友，
	<p>大家好！
	
	<p>在2014年来临之际，中法两国也即将迎来彼此建交第50周年（1964-2014）。大型庆祝盛典晚会«&nbsp;巴黎大皇宫中国之夜&nbsp;»
		将于2014年1月27日在位于香榭丽舍的巴黎大皇宫(Grand
		Palais)拉开帷幕，以此来庆祝这一历史上意义非凡的时刻暨中国马年新年（2014年1月31日）的到来。该活动得到法兰西共和国总统的鼎力支持，且受到中法双边政府的高度重视，也借此为接下来的以“中法建交50周年”为命题的一系列法国庆祝活动正式拉开序幕，并同时为中法友谊的下一个50年书写崭新的篇章。





	
	<p>如附件中所介绍，« 巴黎大皇宫中国之夜 »
		由中法双方共同携手进行艺术指导。中方艺术总监为2008年北京奥运会开幕式副总导演和闭幕式执行总导演陈维亚先生。法方艺术总监则由著名建筑师、艺术策划大师Patrick
		Bouchain担任。这次中法艺术家的强强联合将向全世界完美的呈现中法两国在政治，经济，文化，科学，教育，体育等各个领域的合作，共同展望双方战略联盟在未来50年的机遇与挑战。




	
	<p>此次庆典不仅将汇聚两国政界人士、大中小企业高管以及知名艺术家；还将邀请两国科学家，法国各界华人团体以及各高校中国新老留学生参与。旨在为双方创造一个轻松和谐的交流氛围，在互尊互重、互帮互助及双赢的基础上，共同谱写崭新的友谊篇章和前途。受邀嘉宾将会欣赏到精彩的开幕式以及艺术表演。中法两国各界精英将齐聚一堂，共享中法建交第50周年暨中国马年新年盛举。大皇宫还将在晚会的第二部分(晚上九点半之后)对公众开放。



	
	<p>受主办方RDDV Partner及法国前文化部长Renaud Donnedieu de Vabres
		的亲自委托，在法各校友会、专业协会联合向会员发出邀请。由于受大皇宫的待客能力限制，此次活动的名额有限。同时为了保证各协会会员的信息安全，主办方及其成员保证这些资料只用于2014年1月27日大皇宫中国之夜活动。

	
	<p>报名链接：
	<p>
		<a
			href="https://docs.google.com/forms/d/1g2JPM-xyHToZl8qLYQlsVBHNX4Glh3wpBhGoQlq0Zsw/viewform">https://docs.google.com/forms/d/1g2JPM-xyHToZl8qLYQlsVBHNX4Glh3wpBhGoQlq0Zsw/viewform</a>
	<p>报名截止日期为2013年12月25日23 :00。
	<hr id="french" />

	<p>Cher ami(e),
	<p>A l’occasion de la célébration du 50ème anniversaire de la
		relation diplomatique entre la Chine et la France (27 janvier 2014) et
		du nouvel an chinois du cheval (31 janvier 2013), RDDV Partner
		organise l’événement majeur « Nuit de Chine au Grand Palais » le 27
		janvier 2014. Sous le haut patronage du Président de la République, il
		constituera l’événement d’ouverture officielle qui s’inscrit dans le
		programme des cérémonies retenues par l’Etat.
	<p>Cette soirée fêtera les 50 ans d’amitié franco-chinois et marque
		résolument un nouveau départ des 50 ans d’avenir sino-français. Comme
		la brochure jointe le montre, la célébration sera grandiose par sa
		qualité artistique dont la co-direction a été confiée à M. Patrick
		Bouchain et à M. Weyia Chen, co-concepteur de la cérémonie d’ouverture
		des Jeux Olympiques de Pékin en 2008 et riche par sa diversité des
		participants tant français que chinois/français d’origine chinoise des
		mondes politique, économique, culturel, scientifique, éducatif et
		sportif.
	<p>Parmi les participants, la jeunesse, les scientifiques et les
		managers de nos deux pays seront à l’honneur de cet événement afin
		d’écrire avec passion cette nouvelle page de notre avenir commun dans
		un esprit de respect, de confiance et d’enrichissements mutuels. En
		tant qu’invités d’honneur, ils assisteront à la cérémonie d’ouverture
		et au spectacle. Ils seront bien évidemment aussi conviés à la seconde
		partie de soirée, festive et ouverte à tous.
	<p>Au nom de l’organisateur RDDV Partner et à la demande de M.
		Donnedieu de Vabres, pour que cette fête soit une réussite totale,
		nous sollicitons le concours des associations afin de rassembler les
		listes d’invités. Le nombre de places est limité pour raison de
		capacité d’accueil du Grand Palais. Pour garantir la sécurité des
		informations des membres de chaque association, l'organisateur et ses
		membres ayant accès à ces données s'engagent à les utiliser uniquement
		pour l'événement "Nuit de Chine au Grand Palais" du 27 janvier 2014.
	<p>Lien d’inscription :
	<p>
		<a
			href="https://docs.google.com/forms/d/1g2JPM-xyHToZl8qLYQlsVBHNX4Glh3wpBhGoQlq0Zsw/viewform">https://docs.google.com/forms/d/1g2JPM-xyHToZl8qLYQlsVBHNX4Glh3wpBhGoQlq0Zsw/viewform</a>
	<p>Date limite d’inscription :
	<p>à 23h00 du 25 décembre 2013.
</div>

{% endblock %}{# sidebar_and_content #}




