{% extends "afcp/misc/misc.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}AFCP PPT+EXCEL training 简洁就是美{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section roundtable">

	<h1>巴黎高科2013新老生交流会</h1>

	<p>各位同学，校友，大家好，</p>

	<p>巴黎高科中法友好协会（AFCP，L'Association amicale Franco-Chinoise de
		Paristech）将于11月9日星期六下午14h 在国立高等矿业学校（Mines
		ParisTech）举办“巴黎高科2013同学会暨新老生交流会”，我们诚挚邀请你来参加！</p>

	<p>本次活动我们将邀请到巴黎高科12所学校的多位校友嘉宾。他们大多在法工作多年，任职于各行各业。交流会的第一部分由各位嘉宾轮流讲话，第二部分大家以cocktail的形式自由交流，畅所欲言。整个下午，我们的嘉宾将和同学们围绕在校学习，实习/工作，职场生涯，归国计划等等大家最为关心的主题进行深入探讨。以下是校友嘉宾的名单：</p>

	<table>
		<tr>
			<td>倪金城</td>
			<td>ENSAE 87</td>
			<td>SNCF</td>
			<td>Directeur aux Affaires Territoriales</td>
		</tr>
		<tr>
			<td>李春燕</td>
			<td>HEC 06</td>
			<td>Alcatel-Lucent</td>
			<td>Project Manager</td>
		</tr>
		<tr>
			<td>李虹</td>
			<td>ESPCI 02</td>
			<td>L'Oréal</td>
			<td>Ingénieur de Recherche Appliquée</td>
		</tr>
		<tr>
			<td>郑坂</td>
			<td>polytechnique 08</td>
			<td>Lyxor Asset Management</td>
			<td>Quantitative Researcher</td>
		</tr>
		<tr>
			<td>杨晓蔚</td>
			<td>ENSCP 09</td>
			<td>Saint-Gobain</td>
			<td>eBusiness Project Manager</td>
		</tr>
		<tr>
			<td>肖玉净</td>
			<td>Agro ParisTech 05/06</td>
			<td>Tate and Lyle France</td>
			<td>Account Manager</td>
		</tr>
	</table>




	<p>
		<strong>报名：</strong>
	</p>

	<p>请大家填写电子表</p>

	<p>
		格<a
			href="https://docs.google.com/forms/d/1j3AF0eA2RKVYbkyb35Lzww5PMVo7vAyPrT3BQ5Yx1pM/viewform">https://docs.google.com/forms/d/1j3AF0eA2RKVYbkyb35Lzww5PMVo7vAyPrT3BQ5Yx1pM/viewform</a>
		（座位有限，请大家提前报名）
	</p>


	<p>
		<strong>时间：</strong>
	</p>

	<p>
		<strong>2013/11/09 星期六14h正式开始</strong>（交流会内容丰富，请大家准时到场）
	</p>


	<p>
		<strong>地点：</strong>
	</p>

	<p>
		<strong>Salle L108, Mines ParisTech</strong>
	</p>

	<p>
		<strong>60 Boulevard Saint-Michel 75005 Paris</strong>
	</p>

	<p>
		<strong>RER B: Luxembourg</strong>
	</p>



	<p>
		如有任何问题，请致信<a href="mailto:afcparistech@gmail.com">afcparistech@gmail.com</a>
		或 <a href="mailto:lovelyyuyufish@gmail.com">lovelyyuyufish@gmail.com</a>
	</p>

	<p>欢迎大家踊跃报名！谢谢！</p>


	<p>巴黎高科中法友好协会AFCP</p>


</div>

{% endblock %}{# sidebar_and_content #}




