{% extends "afcp/misc/misc.html" %} {% comment %}
<!--
  Created on 2008-11-18.
  $Id: planet.html 26 2009-08-04 22:06:00Z guolin.mobi $
-->
{% endcomment %}

{#------------------------------------------------------------------------------------------------#}

{% block html_title %}Séminaire{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %} {% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>广西大学海外高层次人才招聘座谈会</h1>

	<p>尊敬的各位旅法专家、学者、学人，</p>

	<p>由广西大学发起，AFCP协会承办的广西大学海外高层次人才招聘座谈会将于2013年6月22日下午14h – 18h在巴黎Opera
		Cadet酒店（24 rue Cadet，75009
		Paris）举行。我们诚挚欢迎各位在法工作学习的学者学人前往参会，借此机会加深对广西大学的认识和了解，以及与广西大学的学者学人进行深入的交流和项目合作。</p>

	<p>活动详细资料以及报名链接见页面下方链接</p>
	
	<hr />

	<p>本次座谈会与会嘉宾如下</p>

	<p>广西大学代表团成员：</p>
	<p>毛汉领: 副校长、机械工程学院教授，研究方向为机械制造工艺、机械设计、机床动力学、机械振动、测试技术。</p>
	<p>曹坤芳: 林学院名誉院长、教授，</p>
	<p>冯家勋: 生命科学学院院长、教授，研究方向为微生物资源及其利用、微生物生物技术、分子遗传学。</p>
	<p>范祚军：中国-东盟研究院副院长，商学院教授，研究方向为区域发展与财政金融支撑、中国-东盟自由贸易区、泛北部湾区域金融合作、公司发展战略与投融资规划。</p>
	<p>蓝文武：土木学院副院长、教授，研究方向为高层建筑结构。</p>
	<p>唐秋玲：人事处副处长、计算机与信息工程学院教授，研究方向为无线通信、无线传感器网络、计算机网络通信、网络协议跨层设计。</p>

	<p>特邀嘉宾：</p>
	<p>张为宇：大使馆教育处一等秘书</p>
	<p>张勇民教授：全法中国科技工作者协会会长</p>
	<p>季红：南京大学法国校友会会长</p>

	<hr />

	<p>活动当天安排如下：</p>
	<table class="withborder">
		<tr>
			<th>时间</th>
			<th>内容</th>
		</tr>
		<tr>
			<td>14:00~14:20</td>
			<td>来宾接待（大会提供咖啡、茶等饮品）</td>
		</tr>
		<tr>
			<td>14:20~14:30</td>
			<td>AFCP协会主席朱琪致欢迎辞</td>
		</tr>
		<tr>
			<td>14:30~14:45</td>
			<td>播放“美在广西”宣传片</td>
		</tr>
		<tr>
			<td>14:45~15:10</td>
			<td>副校长毛汉领广西大学领导致欢迎辞</td>
		</tr>
		<tr>
			<td>15:10~15:40</td>
			<td>人事处副处长唐秋玲介绍广西大学发展情况及引才政策、人才岗位（配合PPT宣传片）</td>
		</tr>
		<tr>
			<td>15:40~16:10</td>
			<td>自由提问</td>
		</tr>
		<tr>
			<td>16:10~17:10</td>
			<td>鸡尾酒会、自由交流</td>
		</tr>
	</table>

	<p>敬候各位旅法学者学人的到来</p>
	<p>地址：24 rue Cadet，75009 Paris</p>
	<p>交通：M7 Cadet</p>

	<hr />
	<p>感谢本次活动的协办方全法中国科技工作者协会和南京大学法国校友会的大力支持</p>
	
	<p><a href="/static/doc/seminaire/resume.pdf">广西大学招聘海外高层次人才座谈会通知</a></p>
	<p><a href="/static/doc/seminaire/detail.pdf">海外引才宣传简介</a></p>
	<p><a href="https://docs.google.com/forms/d/1pFE0MjZ1-LQw7dDznc6I2DNFOP3p13in1eilIbTaavs/viewform">注册链接</a></p>

</div>

{% endblock %}{# sidebar_and_content #}




